[tool.poetry]
name = "aws_wrapper"
version = "0.1.0"
description = "Amazon Web Services (AWS) Advanced Python Wrapper"
authors = ["Amazon Web Services"]
readme = "README.md"
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8.1"
resourcebundle = "^2.1.0"
boto3 = "^1.28.45"

[tool.poetry.group.dev.dependencies]
mypy = "^1.3.0"
flake8 = "^6.0.0"
flake8-type-checking = "^2.4.1"
isort = "^5.12.0"
pep8-naming = "^0.13.3"
SQLAlchemy = "^2.0.20"

[tool.poetry.group.test.dependencies]
boto3 = "^1.27.1"
coverage = "^7.3.0"
debugpy = "^1.7.0"
pydevd-pycharm = "^232.8660.197"
pytest = "^7.4.2"
pytest-mock = "^3.11.1"
pytest-html = "^4.0.1"
pytest-html-merger = "^0.0.8"
toxiproxy-python = "^0.1.1"
parameterized = "^0.9.0"
psycopg = "^3.1.9"
psycopg-binary = "^3.1.9"
mysql-connector-python = "8.1.0"

[tool.isort]
sections="FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
no_lines_before="LOCALFOLDER"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
	'ignore:cache could not write path',
	'ignore:could not create cache path'
]

