name: Integration Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - chore/reenable-telemetry

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  lts-integration-tests:
    name: Run LTS Integration Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.11", "3.12", "3.13" ]
        environment: [ "mysql", "pg" ]

    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v4

      - name: 'Set up JDK 8'
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 8

      - name: Install poetry
        shell: bash
        run: |
          pipx install poetry==1.8.2
          poetry config virtualenvs.prefer-active-python true

      - name: Install dependencies
        run: poetry install

      - name: 'Configure AWS Credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: python_integration_tests
          role-duration-seconds: 21600
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: 'Run LTS Integration Tests'
        run: |
          ./gradlew --no-parallel --no-daemon test-python-${{ matrix.python-version }}-${{ matrix.environment }} --info
        env:
          RDS_CLUSTER_DOMAIN: ${{ secrets.DB_CONN_SUFFIX }}
          RDS_DB_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AURORA_MYSQL_DB_ENGINE_VERSION: lts
          AURORA_PG_ENGINE_VERSION: lts

      - name: 'Archive LTS results'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-integration-report-${{ matrix.python-version }}-${{ matrix.environment }}-lts
          path: ./tests/integration/container/reports
          retention-days: 5

  latest-integration-tests:
    name: Run Latest Integration Tests
    runs-on: ubuntu-latest
    needs: lts-integration-tests
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.11", "3.12", "3.13"  ]
        environment: ["mysql", "pg"]

    steps:
      - name: 'Clone repository'
        uses: actions/checkout@v4

      - name: 'Set up JDK 8'
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 8

      - name: Install poetry
        shell: bash
        run: |
          pipx install poetry==1.8.2
          poetry config virtualenvs.prefer-active-python true

      - name: Install dependencies
        run: poetry install

      - name: 'Configure AWS Credentials'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: python_integration_tests
          role-duration-seconds: 21600
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: 'Run Latest Integration Tests'
        run: |
          ./gradlew --no-parallel --no-daemon test-python-${{ matrix.python-version }}-${{ matrix.environment }} --info
        env:
          RDS_CLUSTER_DOMAIN: ${{ secrets.DB_CONN_SUFFIX }}
          RDS_DB_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AURORA_MYSQL_DB_ENGINE_VERSION: latest
          AURORA_PG_ENGINE_VERSION: latest

      - name: 'Archive Latest results'
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-integration-report-${{ matrix.python-version }}-${{ matrix.environment }}-latest
          path: ./tests/integration/container/reports
          retention-days: 5
