name: Python Check and Unit Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**/*.md'
      - '**/*.jpg'
      - '**/README.txt'
      - '**/LICENSE.txt'
      - 'docs/**'
      - 'ISSUE_TEMPLATE/**'
      - '**/remove-old-artifacts.yml'

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tcort/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          folder-path: 'docs'
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        poetry-version: ["1.8.2"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        shell: bash
        run: |
          pipx install poetry==${{matrix.poetry-version}}
          poetry config virtualenvs.prefer-active-python true
      - name: Install dependencies
        run: poetry install
      - name: Run mypy - static type checking
        run: poetry run mypy .
      - name: Run flake8 - linting
        run: poetry run flake8 .
      - name: Run isort - dependency import sorting check
        run: poetry run isort --check-only .
      - name: Run unit tests
        run: poetry run pytest ./tests/unit -Werror
